html, body {
    background-color: lightblue;
    font-size: 1rem;
}

th {
    font-size: 1.2em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.disabled {
    display: none !important;
}

#calc-container {
    background-color: red;
    border-spacing: 16px 0;
}

#desired-solution {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 8px;
}

#d-s-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    background-color: green;
    min-width: 100px;
}

#d-s-confirmed {
    text-align: center;
    padding: 12px;
    background-color: green;
    min-width: 100px;
}

#d-input {
    text-align: center;
    width: 54px;
}

#d-amount {
    text-align: center;
    width: 72px;
}

#s-input {
    text-align: center;
}

#base-sol {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: yellow;
    min-width: 120px;
}

#base-sol-select {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

#unused-base-sol {
    font-weight: bold;
    color: red;
    text-align: center;
}

#glucose-amount {
    background-color: azure;
    text-align: center;
}

#total-amount {
    background-color: darksalmon;
    text-align: center;
}

#error-box {
    background-color: blueviolet;
}